@model ServiceAboutItemDto

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceAboutId" class="control-label">Kateqoriya</label>
                <select asp-for="ServiceAboutId" class="form-control">
                    @foreach (var item in ViewData["ServiceAbout"] as IEnumerable<ServiceAbout>)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Başlıq</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValues.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValues.RETURN_TO_BACK</a>
</div>
