@model SosialCreateDto

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WhatsappUrl" class="control-label">Whatsapp Url</label>
                <textarea asp-for="WhatsappUrl" class="form-control"></textarea>
                <span asp-validation-for="WhatsappUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookUrl" class="control-label">Facebook Url</label>
                <textarea asp-for="FacebookUrl" class="form-control" id="answer"></textarea>
                <span asp-validation-for="FacebookUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InstagramUrl" class="control-label">Instagram Url</label>
                <textarea asp-for="InstagramUrl" class="form-control" id="answer"></textarea>
                <span asp-validation-for="InstagramUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telegram" class="control-label">Telegram</label>
                <textarea asp-for="Telegram" class="form-control" id="answer"></textarea>
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TwitterUrl" class="control-label">Twitter Url</label>
                <textarea asp-for="TwitterUrl" class="form-control" id="answer"></textarea>
                <span asp-validation-for="TwitterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValues.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValues.RETURN_TO_BACK</a>
</div>